*{
    font-family: "Inter", sans-serif;
}
.container{
    padding: 20px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    /* color: #1F2937; */
    text-transform: capitalize;
}
.cat-btn.active{
    background:#15803D;
    color: white;
}